<h1>Demande de Réservation ou renseignements</h1>
<p>Cours/Atelier :  {{contact.cours}}</p>
<p>Prénom : {{contact.prenom}}</p>
<p>Nom : {{contact.nom}}</p>
<p>Numéro de téléphone : {{contact.telephone}}</p>
<p>e-m@il : {{contact.email}}</p>
<p>Message : {{contact.message|raw}}</p>