{% extends 'base.html.twig' %}
{% block title 'Les Cours et les stages'%}

{% block body %}

<div class="col-6">
                    
    <div id="contactForm" class="mt-4">
        {{ form_start(form) }}
        <div class="row">
        <div class="col">{{ form_row(form.firstname) }}</div>
        <div class="col">{{ form_row(form.lastname) }}</div>
        </div>
    </div>
    <div id="contactForm" class="mt-4">
        {{ form_start(form) }}
        <div class="row">
        <div class="col">{{ form_row(form.phone) }}</div>
        <div class="col">{{ form_row(form.email) }}</div>
    </div>
    </div>
    {{ form_rest(form) }}
    <div class="form-group">
        <button class="btn btn-primary">Envoyer</button>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}